@import url('https://fonts.cdnfonts.com/css/gumdrop');
            
#game {
    height: 500px;
    width: 1000px;
    outline: 2px solid black;
    position: relative;
    background-image: url('assets/background.jpg');
}

#character {
    background-color: rgba(204, 204, 204, 0);
    height: 50px;
    width: 50px;
    left: 10px;
    top: 0px;
    position: absolute;
}

#characterID {
    position: absolute;
    top: 470px;
}
#enemyID {
    position: absolute;
    left: 600px;
}
#characterDuel {
    height: 200px;
    width: 200px;
    left: 10px;
    top: 290px;
    position: absolute;
}
#characterDuelHP {
    font-family: 'GUMDROP', sans-serif;
    font-size: 30px;
    color: aliceblue;
    left: 250px;
    top: 450px;
    position: absolute;
}
#characterEnemyDuel {
    height: 200px;
    width: 200px;
    left: 750px;
    top: 0px;
    position: absolute;
}
#characterEnemyDuelHP {
    font-family: 'GUMDROP', sans-serif;
    font-size: 30px;
    color: aliceblue;
    left: 550px;
    top: 160px;
    position: absolute;
}